#login{
	
	margin-top:150px; 
	margin-bottom:150px;
	margin-right:25%; 
	margin-left:25%; 
	border:3px solid #a1a1a1; 
	padding:9px 35px; 
	background:#ffffff; 
	width:400px; 
	border-radius:20px; 
	box-shadow: 7px 7px 6px;


}